<!Doctype Html>
<html>
    <head>
        <Title>
            About Us
        </Title>
        <link rel="stylesheet" href="global_styling.css" type="text/css">

    </head>


    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/more">More</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact-us">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
              <h1 class="title">
                    About us</h1>
            </section>
        </main>
    </body>
</html>
